// ------- INPUTS -------------------
.form-group{
	position: relative;
	display: grid;
	place-items: center;
	inline-size: 100%;
	block-size: 57px;
	label{
		display: none;
	}
	input{
		inline-size: 100%;
		block-size: 100%;
		padding: 12px 24px;
		line-height: 1;
		color: var(--clr-black);	
		background-color: var(--clr-white);	
		border: 1px solid var(--clr-gray);
		border-radius: 8px;
		transition: border-color var(--tr);
		&:focus-visible{
			outline: none;
			border-color: var(--clr-black);
		}
		&::placeholder{
			color: var(--clr-gray);
		}
		&:focus-visible::placeholder{
			color: transparent;
		}		
	}
	&:has(input:placeholder-shown){
		.icon-eye{					
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16C13.25 16 14.3125 15.5625 15.1875 14.6875C16.0625 13.8125 16.5 12.75 16.5 11.5C16.5 10.25 16.0625 9.1875 15.1875 8.3125C14.3125 7.4375 13.25 7 12 7C10.75 7 9.6875 7.4375 8.8125 8.3125C7.9375 9.1875 7.5 10.25 7.5 11.5C7.5 12.75 7.9375 13.8125 8.8125 14.6875C9.6875 15.5625 10.75 16 12 16ZM12 14.2C11.25 14.2 10.6125 13.9375 10.0875 13.4125C9.5625 12.8875 9.3 12.25 9.3 11.5C9.3 10.75 9.5625 10.1125 10.0875 9.5875C10.6125 9.0625 11.25 8.8 12 8.8C12.75 8.8 13.3875 9.0625 13.9125 9.5875C14.4375 10.1125 14.7 10.75 14.7 11.5C14.7 12.25 14.4375 12.8875 13.9125 13.4125C13.3875 13.9375 12.75 14.2 12 14.2ZM12 19C9.56667 19 7.35 18.3208 5.35 16.9625C3.35 15.6042 1.9 13.7833 1 11.5C1.9 9.21667 3.35 7.39583 5.35 6.0375C7.35 4.67917 9.56667 4 12 4C14.4333 4 16.65 4.67917 18.65 6.0375C20.65 7.39583 22.1 9.21667 23 11.5C22.1 13.7833 20.65 15.6042 18.65 16.9625C16.65 18.3208 14.4333 19 12 19ZM12 17C13.8833 17 15.6125 16.5042 17.1875 15.5125C18.7625 14.5208 19.9667 13.1833 20.8 11.5C19.9667 9.81667 18.7625 8.47917 17.1875 7.4875C15.6125 6.49583 13.8833 6 12 6C10.1167 6 8.3875 6.49583 6.8125 7.4875C5.2375 8.47917 4.03333 9.81667 3.2 11.5C4.03333 13.1833 5.2375 14.5208 6.8125 15.5125C8.3875 16.5042 10.1167 17 12 17Z' fill='%23A9A9A9'/%3E%3C/svg%3E%0A");					
		}
	}
	.icon-eye{
		position: absolute;
		inset-inline-end: 24px;
		inset-block-start: 50%;
		transform: translateY(-50%);
		display: block;
		inline-size: 24px;
		block-size: 24px;
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16C13.25 16 14.3125 15.5625 15.1875 14.6875C16.0625 13.8125 16.5 12.75 16.5 11.5C16.5 10.25 16.0625 9.1875 15.1875 8.3125C14.3125 7.4375 13.25 7 12 7C10.75 7 9.6875 7.4375 8.8125 8.3125C7.9375 9.1875 7.5 10.25 7.5 11.5C7.5 12.75 7.9375 13.8125 8.8125 14.6875C9.6875 15.5625 10.75 16 12 16ZM12 14.2C11.25 14.2 10.6125 13.9375 10.0875 13.4125C9.5625 12.8875 9.3 12.25 9.3 11.5C9.3 10.75 9.5625 10.1125 10.0875 9.5875C10.6125 9.0625 11.25 8.8 12 8.8C12.75 8.8 13.3875 9.0625 13.9125 9.5875C14.4375 10.1125 14.7 10.75 14.7 11.5C14.7 12.25 14.4375 12.8875 13.9125 13.4125C13.3875 13.9375 12.75 14.2 12 14.2ZM12 19C9.56667 19 7.35 18.3208 5.35 16.9625C3.35 15.6042 1.9 13.7833 1 11.5C1.9 9.21667 3.35 7.39583 5.35 6.0375C7.35 4.67917 9.56667 4 12 4C14.4333 4 16.65 4.67917 18.65 6.0375C20.65 7.39583 22.1 9.21667 23 11.5C22.1 13.7833 20.65 15.6042 18.65 16.9625C16.65 18.3208 14.4333 19 12 19ZM12 17C13.8833 17 15.6125 16.5042 17.1875 15.5125C18.7625 14.5208 19.9667 13.1833 20.8 11.5C19.9667 9.81667 18.7625 8.47917 17.1875 7.4875C15.6125 6.49583 13.8833 6 12 6C10.1167 6 8.3875 6.49583 6.8125 7.4875C5.2375 8.47917 4.03333 9.81667 3.2 11.5C4.03333 13.1833 5.2375 14.5208 6.8125 15.5125C8.3875 16.5042 10.1167 17 12 17Z' fill='black'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		cursor: pointer;
	}
}
textarea{
	block-size: 146px;
	padding: 24px;
	border: none;
	border-radius: 8px;
	&:focus-visible{
		outline: none;
		border: 1px solid var(--clr-black);
	}
	&::placeholder{
		color: var(--clr-gray);
	}
	&:focus-visible::placeholder{
		color: transparent;
	}
}

// ------- BUTTONS ------------------
.btn{
	--offset-x: -100%;
	overflow: hidden;
	position: relative;
	display: grid;
	place-items: center;
	block-size: 57px;
	padding-inline: 50px;
	color: var(--clr-white);
	background-color: var(--clr-black);
	text-transform: uppercase;
	border: none;
	border-radius: 8px;
	transition: background-color var(--tr);
	&:not(:disabled):hover,&:not(:disabled):focus-visible{
		background-color: var(--clr-orange-100);
	}
	&:disabled{
		color: var(--clr-text);
		background-color: var(--clr-gray-100);
		cursor: not-allowed;
	}
	span{
		position: relative;
		z-index: 1;
	}
	&::before{
		content: '';
		position: absolute;
		z-index: 0;
		inset: 0;
		transform: translateX(var(--offset-x));
		background-color: var(--clr-orange-100);
		border-radius: 8px;
		transition: transform var(--tr);
	}
	&.active{
		color: var(--clr-white);
		background-color: var(--clr-black);
	}
	&.hideBeforeElem{
		&::before{
			opacity: 0;
			transition: opacity var(--tr) .3s;
		}
	}
}
.btn-ghost{
	display: flex;
	align-items: center;
	gap: 0 10px;
	color: var(--clr-text);
	text-transform: uppercase;
	transition: color var(--tr);
	@media(hover: hover){
	  &:hover{
		 color: var(--clr-orange-100);
	  }
	}
	&::after{
		content: '';
		inline-size: 16px;
		block-size: 8px;
		background-image: url("data:image/svg+xml,%3Csvg width='33' height='8' viewBox='0 0 33 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.1716 0.464442L32.3536 3.64642C32.5488 3.84169 32.5488 4.15827 32.3536 4.35353L29.1716 7.53551C28.9763 7.73077 28.6597 7.73077 28.4645 7.53551C28.2692 7.34025 28.2692 7.02367 28.4645 6.8284L30.7929 4.49998L-3.656e-07 4.49997L-2.78178e-07 3.49997L30.7929 3.49998L28.4645 1.17155C28.2692 0.976287 28.2692 0.659704 28.4645 0.464442C28.6597 0.26918 28.9763 0.26918 29.1716 0.464442Z' fill='black'/%3E%3C/svg%3E%0A");
		background-position: center right;
		transition: inline-size var(--tr);
	}
	@media(hover: hover){		
		&:hover::after{
			inline-size: 33px;
			background-image: url("data:image/svg+xml,%3Csvg width='33' height='8' viewBox='0 0 33 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.1716 0.464442L32.3536 3.64642C32.5488 3.84169 32.5488 4.15827 32.3536 4.35353L29.1716 7.53551C28.9763 7.73077 28.6597 7.73077 28.4645 7.53551C28.2692 7.34025 28.2692 7.02367 28.4645 6.8284L30.7929 4.49998L-3.656e-07 4.49997L-2.78178e-07 3.49997L30.7929 3.49998L28.4645 1.17155C28.2692 0.976287 28.2692 0.659704 28.4645 0.464442C28.6597 0.26918 28.9763 0.26918 29.1716 0.464442Z' fill='%23FF5E00'/%3E%3C/svg%3E%0A");
		}
	}
}

// ------- layout -----------------
.columns-2{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: 0 20px;
	&__title{
		grid-column: 1 / span 4;
	}
	&__content{
		grid-column: 5 / -1;
	}
}

// ------- breadcrums -----------------
.breadcrums{
	--mie: 4px;
	display: flex;
	gap: 0 var(--mie);
	margin-block-end: 23px;
	color: #a9a9a9;
	&__item{
		display: flex;
		gap: 0 var(--mie);
		&:not(:last-child)::after{
			content: '/';
		}
	}
	&__link{
		color: inherit;
		transition: color var(--tr);
		&:hover{
			color: var(--clr-orange-100);
		}
	}
}

// ------- auto-grid -----------------
.auto-grid {
	--min-w: 250px;
	--max-w: 1fr;
	--c-g: 20px;
	--r-g: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(var(--min-w), 100%), var(--max-w)));
	column-gap: var(--c-g);
	row-gap: var(--r-g);
 }

 // ------- news-item -----------------
.news-item{
	display: flex;
	flex-direction: column;
	block-size: 100%;
	color: var(--clr-text);
	&__img{
		overflow: hidden;
		aspect-ratio: 1.5476;
		margin-block-end: 20px;
		border-radius: 8px;
		&:hover, &:focus-visible{
			img{
				transform: scale(1.05);
			}
		}
		img{
			inline-size: 100%;
			block-size: 100%;
			object-fit: cover;
			transition: transform var(--tr);
		}
	}
	&__time{
		display: block;
		margin-block-end: 12px;
	}
	&__title{
		margin-block-end: 4px;
	}
	&__text{
		margin-block-end: 24px;
	}
	&__link{
		margin-block-start: auto;
		text-transform: uppercase;
		text-decoration-line: underline;
  		text-underline-offset: 3px;
		transition: color var(--tr);
		&:hover, &:focus-visible{		
			color: var(--clr-orange-100);
		}
	}	
}

// -------- select --------------------
.select{
	--pad-i: 24px;
	display: flex;
	align-items: center;
	block-size: 42px;
	position: relative;			
	background-color: var(--clr-white);
	border: 1px solid var(--clr-black);
	border-radius: 8px;
	&.active{
		position: relative;
		z-index: 1;
	}
	.options{
		overflow: hidden;
		display: none;
		position: absolute;
		inset-block-start: calc(100% + 2px);
		inline-size: 100%;
		background-color: var(--clr-white);
		border-radius: 8px;
		&>*{
			display: flex;
			align-items: center;
			block-size: 32px;
			padding-inline: var(--pad-i);
			transition: background-color var(--tr);
		}
		@media(hover: hover){
		  &>*:hover{
			background-color: var(--clr-gray-50);
		  }
		}
		&.show{
			display: block;
		}
	}
	.option{
		cursor: pointer;
	}
	.option.active{			
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 10px;
		inline-size: 100%;
		block-size: 100%;
		padding-inline: var(--pad-i);
		[class^="icon-"]{
			flex-shrink: 0;
			font-size: 16px;
			transition: transform var(--tr);
		}
		[class^="icon-"].rotate{
			transform: rotate(-180deg);
		}
	}
}

// -------- location ------------------
.location{
	--w: 20px;
	--desc-h: 110px;
	position: absolute;
	transform: translate(-50%,-50%);
	inline-size: var(--w);
	block-size: var(--w);
	cursor: pointer;
	&__desc{
		display: none;
		position: absolute;
		inset-inline-end: calc(-1 * (var(--desc-h) / 2 - var(--w) / 2));
		inset-block-start: calc(-1 * (var(--desc-h) / 2 - var(--w) / 2));
		padding: 26px var(--desc-h) 26px 20px;
		background-color: var(--clr-white);
		border: 2px solid var(--clr-orange-100);
		border-radius: 12vw 100vw 100vw 12vw;
		&-city{
			inline-size: max-content;
			margin-inline-start: 32px;
			margin-block-end: 16px;
			font-weight: var(--fw-b);
			line-height: 1.1;
		}
		&-address{
			display: flex;
			align-items: center;
			gap: 0 8px;
			inline-size: max-content;
			[class^="icon-"]{
				flex-shrink: 0;
			}
		}
	}
	&__dot{
		position: absolute;
		inset-inline-start: 50%;
		inset-block-start: 50%;
		transform: translate(-50%,-50%);
		display: grid;
		place-items: center;
		inline-size: var(--w);
		block-size: var(--w);
		background-color: var(--clr-orange-100);
		border-radius: 100vw;
		i{
			display: none;
			color: var(--clr-white);
			font-size: 24px;
		}
	}
	&__line{
		position: absolute;
		inset-inline-start: 50%;
		inset-block-start: 50%;
		transform: translate(-50%,-50%);
		inline-size: 30px;
		block-size: 30px;
		border: 2px solid var(--clr-orange-100);
		border-radius: 30px;
		transform-origin: center;		
	}
	&.active{
		--w: 40px;
		.location__desc{
			display: block;
		}
		.location__dot{
			i{
				display: block;
			}
		}
	}
	@media(hover: hover){
	  &:hover{
		 .location__line{
			animation: location_line 2s linear infinite;		
		 }
	  }
	}
}
@keyframes location_line{
	100%{
		opacity: 0;
		transform: translate(-50%,-50%) scale(3);
		border-width: 1px;
	}
}

// -------- типографика ---------------
.description{
	font-size: clamp(16px, 0.5385rem + 0.9615vi, 24px);
}