:root{
	--header-r: 24px;
	--header__btm-h: 75px;
	--first-block-mbs: -30px;
	--ff-prim: 'Roboto', sans-serif;
	--ff-sec: 'Bebas', sans-serif;
	--fz-0: 16px;
	--fz-s: 14px;
	--fw-l: 300;
	--fw-r: 400;
	--fw-m: 500;
	--fw-s: 600;
	--fw-b: 700;
	--fw-e: 800;
	--fw-k: 900;
	--lh-t: 1.5;  
	--lh-h: 1.1;  
	--clr-dark-100: #2d2d2d;
	--clr-dark-75: #626262;
	--clr-dark-50: #969696;
	--clr-dark-25: #cacaca;
	--clr-orange-100: #ff5e00;
	--clr-orange-75: #ff8640;
	--clr-orange-50: #ffae7f;
	--clr-orange-25: #ffb7df;
	--clr-gray-100: #d6d5d4;
	--clr-gray-75: #e0e0df;
	--clr-gray-50: #eaeae9;
	--clr-gray-25: #f5f4f4;
	--clr-text: #000;
	--clr-white: #fff;
	--clr-black: #000;  
	--tr: .3s ease-in-out;
}